---
---

@import "{{ site.theme }}";
//section #title h1 {
    //background-color: blueviolet;
//}

nav#site-navigation {
    padding: 5px;
    border: 2px;
    border-color: #e8e8e8;
    border-style: dashed;
}

nav#site-navigation > a {
    margin: 10px;
    padding: 2px;
    font-weight: normal;
    font-size: larger;
}